.broadcast_container{
    color: white;
    width: 100%;
    margin: 74px auto 500px;
}
.broadcast_block{
    display: flex;
    flex-wrap: nowrap;
}
.broadcast__video{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.forign__chat{
    display: none;
    min-width: 450px;
    height: calc(100vh - 54px);
}
.forign_disable{
display: block !important;
}
.broadcast__chat{
    background: #212121;
    width: 450px;
    height: 100vh;
}
.broadcast__chat_disable{
    background: #2f2f2f;
    width: 450px;
    height: 100vh;
}
.broadcast__video__openchat{
    position: absolute;
    right: 35px;
    top: 15px;
}
.broadcast_video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_arrow{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 30px;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    opacity: 0.7;
}
.right_arrow{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 30px;
    background: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    opacity: 0.7;
}
.right_arrow svg{
    transform: rotate(180deg);
}
.broadcast_video_contain{
    padding-left: 20px;
    padding-right: 20px;
    max-height: calc(100vh - 10.3rem);
    max-width: calc(100% - 40px);
}
.broadcast__chat_block_internal{
    position: relative;
    border-top: 1px solid #000000;
}
.chat{
    margin-top: 5px;
}
.under_broadcast{
    padding: 20px 20px;
    display: flex;
}
.under_broadcast_h1{
    font-size: 20px;
    position: relative;
    top: 13px;
}
.profile_block{
    display: flex;
    color: #e7e7e7;
}
.profile_block__photo{
    position: relative;
    display: block !important;
    border-radius: 9000px !important;
    box-sizing: inherit;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    align-items: center;

}
.profile_block__photo__svg{
    position: absolute;
    left: 0;
}
.profile_block__photo_img{
    border-radius: 9000px !important;
    width: 100%;
}
.profile_block__bsinfo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.profile_block__name{
    padding-top: 7px;
}
.profile_block__sbcout{
    font-size: 12px;
}
.like_block{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
}
.like_img{
    margin-left: auto;
    height: 45px;
    width: 45px;
}
.under_broadcast__right{
    margin-left: auto;
    display: flex;
}
.joystic_img{
    height: 45px;
    width: 45px;
}
.donate{
    margin-left: 20px;
}
.donate_img{
    height: 45px;
    width: 45px;
}
.start_privat{
    transition: 0.2s;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 140px;
    align-items: center;
    border-radius: 2rem;
    background: #66af33;
    color: black !important;
    position: relative;
    margin-right: 25px;
    font-size: .813rem;
    font-weight: 600;
}
.start_privat:hover{
    background: #66af33;
}
.start_privat_mobile{
    transition: 0.2s;
    display: none;
    height: 45px;
    justify-content: center;
    width: 80px;
    align-items: center;
    border-radius: 2rem;
    background: #66af33;
    color: black !important;
    font-weight: 600;
    position: relative;
    margin-right: 20px;
    font-size: .813rem;
}
.start_privat_mobile:hover{
    background: #66af33;
}
.chat_lable{
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.chat_lables_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.chat_lables_row__item{
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: center;
    width: 50%;
    color: #909090 !important;
    font-size: .938rem;
    border-bottom: 2px solid #212121;
}
.chat_lables_row__item__svg{
    margin-right: 10px;
    fill: #909090;
}
.chat_lables_row__item__active{
    border-bottom: 2px solid #66af33;
    color: #bdbdbd !important;
}
.broadcast__chat_block_internal_btn_back{
    width: 10%;
}
.chat_lables_row__item:hover{
    color: #bdbdbd !important;
}
.chat_lables_row__item:hover .chat_lables_row__item__svg{
    fill: #bdbdbd !important;
}
.back_svg:hover{
    fill: #bdbdbd !important;
}
.chat_display{
    padding-top: 20px;
    background: #363636;
}
.back_svg{
    position: relative;
}
/*/
.chat_list{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 235px);
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: inherit;
    overscroll-behavior: none;
}
.chat_list::-webkit-scrollbar {
    width: 4px;
}
.chat_list::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #282828;
}
.chat_list::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-radius: 2px;
    height: 20% !important;
}
.chat_list:hover::-webkit-scrollbar-thumb {
    background-color: #9a9595;
}
.chat_list__item{
    padding: 10px 25px;
    flex-direction: row;
}
.chat_list__item_name{
    font-size:  .813rem;
    font-weight: 700;
    color: #9f9f9f;
    margin-right: 6px;
}
.chat_list__item_text{
    font-size:  .813rem;
}
.chat__inputblock{
    width: 90%;
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}
.chat__input{
    background: #464649;
    height: 40px;
    width: calc(100% - 40px);
    border-radius: 4px 0px 0px 4px;
    color: #ffffff;
    padding: 0 15px;
    margin-bottom: 20px;
}
.chat__inputblock__btn{
    width: 40px;
    padding-left: 10px;
    height: 38px;
    background: #66af33;
    border-radius: 0px 4px 4px 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_list_privat{
    margin-top: 20px;
}
.profile_container{
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 15px;
}
.profile_container_h1{
    padding: 20px 0;
    text-align: center;
}
.profile_container__info{
    margin-top: 50px;
    width: 1000%;
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
}

.profile_container__item{
    padding: 10px 0;
    display: flex;
}
.profile_container_lable{
    color: #a0a0a0;
    font-weight: 400;
}
.profile_container_info{
}
td {
    padding: 10px;
}
.basic_info{
    margin-right: 30px;
    display: flex;
    background: url('https://tse4.mm.bing.net/th?id=OIP.VVqsppr-nShz99OwaKsa0wHaEo&pid=15.1') no-repeat center;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}
.basic_info__profile_photo{
    height: 150px;
    width: 150px;
    border-radius: 5000px;
    border: white 2px solid;
    position: relative;
    top:70px;
    left: 15px;
}
.life_block{
    position: absolute;
    z-index: 99;
    background: #e71a39;
    bottom: -78px;
    left: 50px;
    border: 3px solid #262626;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 16px;
}
.basic_info__name{
    position: relative;
    bottom: -165px;
    left: 25px;
}
.profile_block__name_bsc{
    font-size: 17px;
}
.basic_info__actions{
    width: 100%;
    display: flex;
    position: relative;
    bottom: -200px;
    left: -185px;
}
.basic_info__action{
    background: #5b5b5b;
    transition: all 90ms ease-in-out 0.1s;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 25px;
    align-items: center;
    padding: 0 12px;
    margin: 0 8px;
    border-radius: 2rem;
    text-overflow: initial;
}
.basic_info__action:hover{
    background: #ffffff;
}
.basic_info__action__svg{
    fill: #ffffff;
    transition: all 90ms ease-in-out 0.1s;
}
.basic_info__action:hover .basic_info__action__svg{
    fill: #5b5b5b !important;
}
.spiller{
    align-self: center;
    background: #f8f8f8;
    height: 25px;
    opacity: .4;
    width: 1px;
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
    top: -65px;
}

.profile_target{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.profile_target_h2{
    font-weight: 200;
    letter-spacing: .075rem;
    font-size: 1.125rem;
}
.profile_target_text{
    padding: 15px 0;
    color: #9147ff;
    font-weight: 700;
    font-size: 1.125rem;
}
.profile_target_container{
    display: flex;
    flex-direction: column;
}
.profile_target_block{
    width: 100%;
    height: 40px;
    border: white 1.5px solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
}
.profile_target_fill{
    width: 49.1%;
    height: 40.5px;
    background: #9147ff;
    border-radius: 3px 0 0 3px;
    margin-left: -0.5px;
    margin-top: -0.1px;
}
.profile_target_inside_cout{
    position: absolute;
    color: rgba(248,248,248,.6);
    font-size: 0.95rem;
}
.profile_target_inside_cout__cutent {
    color: #f8f8f8;
    font-weight: 700;
    margin-left: 16px;
    z-index: 2;
}
.profile_target_inside{
    margin-left: auto;
    align-items: center;
    color: rgba(248,248,248,.6);
    font-weight: 700;
    margin-right: 16px;
    z-index: 2;
    font-size: 1.125rem;
}
.target_under{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.target_under span{
    color: #898888;
    font-size: .813rem;
    margin-left: 5px;
}
.target_under a{
    border-radius: 15px;
    background: #79943d;
    color: #f8f8f8;
    transition: all 90ms ease-in-out 0s;
    cursor: pointer;
    padding: 12px 15px;
    margin-left: auto;
    font-size: 13px;
}
.target_under a:hover{
    background: #ffffff;
    color: #000000 !important;
}





@media screen and (max-width: 1300px) {
    .donate_img, .joystic_img, .like_img {
        height: 35px;
        width: 35px;
    }
    .profile_block__photo_img{
        width: 40px;
    }
    .profile_block__photo__svg{
        height: 10px;
    }
    .profile_block__name{
        font-size: 14px;
    }
    .profile_block__sbcout{
        font-size: 10px;
    }
    .profile_block__bsinfo{
        margin-top: 5px;
    }
    .profile_block__photo{
        margin-right: 5px;
    }
}
@media screen and (max-width: 1080px) {
.under_broadcast{
    padding: 20px 20px;
}
    .under_broadcast__right{
        margin-left: auto;
        width: auto;
    }
}
*/
.broadcast_block_top__mobile{
    padding: 10px 20px;
    display: none;
    border-top: 4px #303133 solid;
}
@media screen and (max-width: 1360px) {
    .start_privat_mobile{
        display: flex !important;
    }
    .start_privat{
        display: none !important;
    }
    .under_broadcast{
        padding: 20px 20px;
    }
}
@media screen and (max-width: 1062px) {
    .broadcast__video__openchat{
        position: absolute;
        right: 35px;
        top: 60px;
    }
    .like_block_mobile{
        position: relative;
        top:3px;
    }
    .prf_sqr{
        display: flex;
        position: relative;
        top:0px;
    }
    .profile_block__photo_mob{
        height: 20px;
        width: 20px;
        top: 3px;
        margin-right: 10px;
    }
    .profile_block__name{
        position: relative;
        top: -4px;
        font-size: .938rem;
        font-weight: 400;
    }
    .under_broadcast__right{
        margin-left: 0;
        width: 100%;
    }
    .start_privat_mobile{
        margin-right: auto;
    }
    .profile_block__name{
        padding-bottom: 0;
    }
    .broadcast_container{
        margin: 51px auto 500px;
    }
    .profile_block{
        display: none;
    }
    .like_block{
        margin-left: 0;
    }
    .broadcast_block_top__mobile, .profile_block_mobile, .profile_block__bsinfo_mobile{
        display: block;
    }
    .profile_block__bsinfo_mobile{
        position: relative;
        top: -8px;
    }
    .broadcast_block_top__mobile{
        display: flex;
        justify-content: space-between;
    }
    .profile_block_mobile{
        display: flex;
    }
    .like_block_mobile{
        margin-right: 0;
    }
    .like_block{
        display: none;
    }
}
@media screen and (max-width: 980px) {
    .broadcast_block_top__mobile{
        background: #212121;
    }
    .joystic_img{
        height: 40px;
        width: 40px;
    }
    .donate_img{
        height: 40px;
        width: 40px;
    }
    .start_privat_mobile{
        height: 40px;
    }
    .profile_block__photo{
        height: 40px;
        width: 40px;
    }
    .profile_block__bsinfo{
        margin-top: 5px;
    }
    .broadcast_video_contain{
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }
    .broadcast_block_top__mobile{
        padding: 10px 20px;
    }
    .under_broadcast{
        position: relative;
        top: 2px;
        padding: 10px 20px;
    }
    .under_broadcast__right{
        margin-left: auto;
        width: 100%;
    }
    .start_privat_mobile{
        margin-right: 20px;
    }
    .broadcast_block_top__mobile{
        display: none;
    }
    .profile_block__name{
        padding-bottom: 4px;
    }
    .like_block{
        margin-left: 20px;
    }
    .under_broadcast__right{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .start_privat_mobile{
        margin-left: auto;
    }
    .profile_block{
        display: flex;
    }
    .like_block_mobile{
        margin-left: 30px;
    }
    .broadcast_block{
        display: flex;
        flex-direction: column;
    }
    .broadcast__chat_block_internal_btn_back{
        display: none;
    }
    .broadcast__chat{
        width: 100%;
        height: auto;
    }
    .chat_lables_row__item{
        padding: 15px 0;
    }
    .chat{
        margin-top: 0;
    }
    .broadcast_container{
        color: #ffffff;
        width: 100%;
        margin: 54px auto 500px;
    }
}
@media screen and (max-width: 550px) {
    .left_arrow{
        height: 30px;
        width: 30px;
        left: 5px;
    }
    .right_arrow{
        height: 30px;
        width: 30px;
        right: 5px;
    }
    .left_arrow svg{
        height: 15px;
    }
    .right_arrow svg{
        height: 15px;
    }
    .like_block_mobile{
        position: relative;
        top:2px;
    }
    .prf_sqr{
        display: flex;
        position: relative;
        top:0px;
    }
    .profile_block__photo{
        height: 20px;
        width: 20px;
    }
    .profile_block__bsinfo{
        margin-top: 10px;
    }
    .start_privat_mobile{
        margin-left: 0;
    }
    .under_broadcast__right{
        margin-left: 0;
        width: 100%;
    }
    .start_privat_mobile{
        margin-right: auto;
    }
    .profile_block__name{
        padding-bottom: 0;
    }
    .broadcast_container{
        margin: -2px auto 500px;
    }
    .profile_block{
        display: none;
    }
    .like_block{
        margin-left: 0;
    }
    .broadcast_block_top__mobile, .profile_block_mobile, .profile_block__bsinfo_mobile{
        display: block;
    }
    .broadcast_block_top__mobile{
        display: flex;
        justify-content: space-between;
    }
    .profile_block_mobile{
        display: flex;
    }
    .like_block_mobile{
        margin-right: 0;
    }

    .like_block{
        display: none;
    }
}

