* 
{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
background-color: #21242A;
}
html{
    font-size:100%;
}
.h1{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
body{
    /* font-family: 'Yanone Kaffeesatz italic', sans-serif;
    margin:0;
    font-weight:300;
    font-size: 1rem; */
    color: white;
    margin: 0;
}  
.home{
    height: 100vh;
    background: url("../images/home1.jpg") 100% 100% no-repeat;
    -webkit-background-size: cover; /* Для хрома */
    -moz-background-size: cover;  /* Для лисы*/
    -o-background-size: cover;  /* Для оперы*/
    -ms-background-size: cover;  /* Для ИЭ*/
    background-size: cover;  /* Для закрипления*/
}
.wrap{
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}
header{
    padding-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style-type: none; /* Убираем маркеры */
    color: white;
    font-family: 'Proza Libre', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.logo_im{
    width: 90px;
}
.home_info{
    max-width: 600px;
    margin-top: 12% ;
}
.home_info h1{
    font-family: 'PT Mono', monospace;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: left;
    margin-bottom: 18px;
}
.home_info h4, h3{
    font-family: 'PT Sans Narrow';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
}
.home_info h3{
    font-size: 44px;
    letter-spacing: 3px;
    margin-top: 18px;
}
.home_number{
    float: right;
    margin-top: 12%;
    font-family: 'PT Mono';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 4px;
    text-align: left;
}

.about{
    height: 115vh;
    background: url("../images/about.jpg") 100% 100% no-repeat;
    background-size: cover;
    margin-top: -2px;
}
/*//*/
.about_wrap{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    line-height: 32px;
}
.mob_about{
    display: none;
}
.about_wrap h1{
    font-family: 'PT Sans';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 140px;
}
.about_parallax_block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}
.parallax{
    max-width:  534px;
    max-height: 356px;
}
.par_s{
    position: absolute;
    top: 38%;
    left: 37.5%;
    z-index: 3;
}
#sec_par{
    max-width:  564px;
    height: 356px;
}
.block_par{
    width: 40%;
    position: relative;
}
.about_info{
    margin-left: 2%;
    width: 58%;
}
.f_info_block{
margin-top: 1%;
max-width: 565px;
}
.s_info_block{
margin-top: 3%;
margin-left: 27%;
float: right;
}
/*/////////////////////////////////////*/
.about_work{
    background: #21242A;
    width: 100%;
    margin-top: -3px;
}
.main_laib{
    font-family: 'PT Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 105px;
}
.about_work_wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#mob_sec_col{
    display: none;
}
.about_work__col{
    width: 42%;
    display: flex;
    flex-direction: column;
}
.call_block{
    margin-bottom: 113px;
}
.f_call{
margin-right: 16%;
}
.call_block h1{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 4px;
    text-align: left;
    margin-bottom: 39px;
}
.about_work p{
    font-family: 'Cuprum', sans-serif; 
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 56px;
    line-height: 32px;
}
.about_work img{
    width: 100%;
}
.sec_work_col p{
    margin:  0;
}
.sec_work_col img{
    margin-bottom: 56px;
}
/*////////////////////////*/
.gaalery{
    height: 120vh;
    background: url("../images/about_bg.jpg") 100% 100% no-repeat;
    -webkit-background-size: cover; /* Для хрома */
    -moz-background-size: cover;  /* Для лисы*/
    -o-background-size: cover;  /* Для оперы*/
    -ms-background-size: cover;  /* Для ИЭ*/
    background-size: cover;  /* Для закрипления*/
}
.container {
    position: relative;
    top:9%;
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100%);
    object-fit: cover; 
    transition: .5s;
  }
  

  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
   
  .sec_gar{
    margin: 0 auto;
	max-width: 700px;
	max-height: 100vh;
	background-color: white;
  }
  /*/*********mob_galer*******************/
  .gaalery h1{
      display: none;
  }
.mob_galer{
    display: none;
    height: 50vh;
    width: 100%;
}
.slider_photo{
    background: url("../images/galery/1.png") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}
.slider_photo_second{
    background: url("../images/galery/2.png") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
}
.slider_photo_third{
    background: url("../images/galery/3.png") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
}
.slider_photo_ford{
    background: url("../images/galery/4.png") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
}
.slider_photo_fived{
    background: url("../images/galery/5.png") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
}
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media (min-width: 980px) {
    .slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
  }

/*////////////////////////*/
  .visitment{
    background: #21242A;
    font-family: 'PT Sans', sans-serif;
  }
  .vivsitment_block_wrap{
      padding-bottom: 180px;
  }
  .visit_info{
    display: flex;
    flex-direction: row;
  }
  .visitment h1{
    padding-top: 50px;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 160px;
  }
  .visitment h2{
    display: inline-block;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    text-align: left;
    
  }
  .vivsitment_block_wrap{
      display: flex;
      justify-content: space-between;
  }
  .visit_info_row_s{
    display: flex;
    flex-direction: column;
  }
  .f_info_row_s{
      margin-top: 10px;
  }
  .s_info_row_s{
    margin-top: 105px;
}
.th_info_row_s{
    margin-top: 100px;
}
.fst_sec_visit_info_row{
    margin-top: 65px;
}
.sc_sec_visit_info_row{
    margin-top: 42px;
}
.second_i_c{
    margin-left: 40px;
}
.map{
    width: 72px;
    margin-left: 17px;
}
.logo_visit{
    min-width: 306px;
    position: relative;
    top: 45px;
}
footer{
    width: 100%;
    background: #21242A;
    height: 100px;
}