.form{
    width: 100%;
}
.form_item{
    position: relative;
    width: calc(100% - 16px);
    padding-left: 15px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    color: #f8f8f8;
    display: inline-block;
    height: 38px;
    margin-top: 10px;
    line-height: 20px;
    font-size: .75rem;
    transition: all 120ms ease-in-out 0s;
    margin-bottom: 10px;
}
.reg_block_main_left_on_post_btn{
    margin-top: 10px;
    background: #66af33;
    font-weight: 700;
    width: calc(100% - 4px);
    line-height: 36px;
    min-width: 160px;
    font-size: .938rem;
    color: #000000;
    transition: all 90ms ease-in-out 0s;
    border-color: transparent;
    padding: 0 !important;
    border-radius: 4px;
}
.reg_block_main_left_on_post_btn:hover{
    cursor: pointer;
    background: #66af33;
}
.reg_block_main_left_on_post{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    opacity: .8;
    position: relative;
    font-size: .75rem;
}
.item_span{
   font-size: 0.875rem;
    margin-left: 5px;

}
