.menu_container{
    height: calc(100vh - 54px);
    background: #282828;
    z-index: 151 !important;
    min-width: 64px;
    overflow: inherit;
}
.menu_container_active{
    min-width: 215px;
    overflow-y: scroll !important;
    overflow-x: hidden;
    overscroll-behavior: none;
}

@media screen and (max-width: 1023px) {
    .menu_container{
        position: absolute;
        left: -200px;
    }
    .menu_container_active{
        position: absolute;
        left: 0;
    }
}
.menu_container_active::-webkit-scrollbar {
    width: 4px;
}
.menu_container_active::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #282828;
}
.menu_container_active::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-radius: 2px;
    height: 20% !important;
}
.menu_container_active:hover::-webkit-scrollbar-thumb {
    background-color: #4e4a4a;
}
.menu_block{
    display: flex;
    flex-direction: column;
    width: 205px;
    padding-left: 9px;
    padding-top: 15px;
    background: #282828;
}
.menu_block_active{
    width: 45px;
}
.menu_block_active .menu_block_label{
    display: none;
}
.menu_block_active .alladd_block{
    display: none;
}
.menu_block_active .cat_btn{
    display: none;
}
.menu_block_active .choose_len{
    display: none;
}
.menu_block_active .menu_bottom{
    display: none;
}
.menu_block_active .suport{
    display: none;
}
.menu_block_active .border_line{
    display: none;
}
.menu_container_abolute{
    position: absolute !important;
    left: -200px !important;
}
.menu_container_abolute_active{
    position: absolute !important;
    left: 0 !important;
}
.menu_block__main{
    width: 190px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.border_line{
    background: rgba(248,248,248,.1);
    height: 1px;
    width: 87%;
    margin-left: 9px;
}
.menu_block_active .border_line{
    width: 40px;
}
.menu_block_active .menu_block__main{
    width: 45px;
}

.menu_block__item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.menu_block__item_first{
    height: 32px;
}
.menu_block_label{
    margin-top: -1px;
    font-size: 13px;
    margin-left: 16px;
}
.menu_block__item svg{
    margin-left: 15px;
}
.menu_block__item:hover{
    background: #404040;
    transition: 0.2s;
}
.menu_block__item_active{
    background: #404040;
    position: relative;
}
.menu_block__item_active .menu_block__item_svg{
    fill: #ffffff !important;
    /*/ margin-left: auto;
     margin-right: auto;/*/
}
.menu_block__item_active::before {
    content: "";
    display: block;
    z-index: 152;
    position: absolute;
    left: -10px;
    top: 5px;
    height: 20px;
    width: 3px;
    border-radius: 11px;
    background-color: #66af33;
}
/*////////////////////*/
.adding_block{
    margin-top: 28px;
    width: 190px;
}
.menu__label{
    color: rgba(248,248,248,.5);
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    font-size: 12px;
    font-weight: 500;
}
.adding_block_label{
    font-weight: 500;
    font-size: 13px;
    margin-left: 10px;
}
.cat_btn{
    background: #4e4d4d;
    border-radius: 4px;
    text-align: center;
    width: 180px;
    font-size: 12px;
    padding: 10px 0;
    margin: 22px auto 10px;
    position: relative;
    left: -5px;
    transition: 0.4s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.cat_btn:hover{
    cursor: pointer;
    background: #424040;
}
.cat_btn:active{
    transition: 0.2s;
    background: #363535;
}
.border_line_bt{
    margin-top: 20px;
}
.language{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 0;
    margin-bottom: 50px;
}
.language{
    height: 0;
    overflow: hidden;
}
.language_active{
    height: 140px !important;
}
.language_btn{
    display: block;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}
.language_btn_active{
    color: #66af33 !important;
}
.good{
    display: none;
}
.good_active{
    display: block !important;
}
.choose_len{
    transition: .5s;
    padding-left: 15px;
    margin-top: 30px;
}
.change_len_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    cursor: pointer;
}
.change_len_block_fst {
    display: flex;
}
.change_len_block_fst_h1{
    padding-left: 20px;
    margin-top: 1px !important;
    font-size: 13px;
}
.len_elem{
    padding: 6px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.len_elem:hover{
    background: #393a3b;
}
.menu_len_svg{
    transform: scale(1, -1);
}
.suport{
    width: 175px;
    padding-left: 10px;
    font-size: 13px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.suport:hover{
    text-decoration: underline !important;
}
@media screen and (pointer: coarse){
    .menu_block__item{
        height: 35px;
    }
}

