$background_lightGrayBlue: #bfc5d3;
$background_white: #ffffff;
$background_red: #e71616;
$background_black: #000000;
$color_white: #ffffff;
$color_red: #d20509;
$color_black: #000000;
$font-weights: (
  "ExtraBold": 800,
  "Bold": 700,
  "SemiBold": 600,
  "Medium": 500,
  "Regular": 400,
  "Light": 300,
  "ExtraLight": 200,
);
