/*-------------
Body options
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
	scroll-behavior: smooth;
	height: 100%;
}
body{
	scroll-behavior: smooth;
}
ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}


hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 75px 100px;
}
.work_for{
	overflow: hidden;
}
.delivery, .work_for{
	padding: 0px 0px;/*!!!!!*/
}
section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media (max-width: 1000px){

	section{
		padding: 60px 50px;
	}

}
@media (max-width: 700px){

	section{
		padding: 45px 30px;
	}
}

/*-------------
Body options End
-------------*/


















/*-------------
HEADER
-------------*/
header{
	z-index: 10;
	width: 100%;
	align-items: center;
	color: #fff;
	padding: 35px 100px;
	z-index: 99999;
}
header a{
	float:left;
	font-family: 'Quicksand', sans-serif;
	margin-top: 15px;
	font-size: 25px;
	text-decoration: none;
}
header a:hover{
	color: #2196F3; 
	text-decoration: none;
}
header a:active{
	text-decoration: none;
	color: rgb(36, 111, 173); 
}
@media (max-width: 1300px){
	header{
		padding: 35px 40px;
	}
}

@media (max-width: 1000px){
	header a{
		font-size: 25px
	}
}
@media (max-width: 850px){
	header a{
		top: 20px;
		position: relative;
		font-size: 40px;
	}
}













/*/HEADER NAV/*/

.nav{
	margin-top: -6px;
	float: right;
	display: flex;
	flex-direction: row;
}

.nav a{
	font-size: 20px;
}
.nav a:hover {
	border: 1px solid white;
	border-radius: 10px;
}
header nav li{
	margin-right: 35px;
}
@media (max-width: 1300px){
	.nav{
		margin-top: -5.5px;}
		header nav li{
			margin-right: -15px;
		}
}

@media (max-width: 1000px){
	header nav {
		width: 100%;
	display:flex;
justify-content: space-between;}

header a{
	width: 100%;
	text-align: center;
	font-size: 35px;
}
}
/*/HEADER NAV END/*/
/*-------------













HEADER top row
-------------*/

#header.default {
	z-index: 99999;
	position: fixed;
	top: 0;
	height: 70px;
	background: #fefefe;
	-webkit-box-shadow: 0 2px 2px #444;
	   -moz-box-shadow: 0 2px 2px #444;
		-ms-box-shadow: 0 2px 2px #444;
		 -o-box-shadow: 0 2px 2px #444;
			box-shadow: 0 2px 2px #444;
}

#header.default .nav a {
	font-weight: 600;
	color: #222;
	
}
#header.default .nav {
	position: relative;
	top: -2px; 
}

#header.default .nav a:hover {
	color: #5c7ec7;}


#header.default a{
	position: relative;
	top: -25px; 
	color: #222;
	text-decoration: none;
}


	#header.default a:hover {
		color: #5c7ec7;
		text-decoration: none;
	}


		@media (max-width: 1025px){
			#header.default .nav a {
				display: none;}
			#header.default{
				position: fixed;
				top: -80px;
					}
	}
	@media (max-width: 820px){
		#header .nav a {
			display: none;}
}
/*-------------
HEADER top row end
-------------*/















/*----------------
 	LEADING FON
----------------*/
@supports (object-fit: cover) {
	#video-bg > video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.leading-fon{
	text-align: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;


}
.video-fon{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;
}
.video-fon:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.55;
	z-index: 0;
	overflow: hidden;
}
.hero{
	text-align: center;
	position: relative;
	top: -100px;
	z-index: 10;
}
.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-top: 125px;
	margin-bottom: 15px;
	color: white;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
	color: white;
}
@media (max-width: 650px){
	.hero{
		text-align: center;
		z-index: 10;
	}
}
@media (max-width: 450px){
	.hero h1{
		text-align: center;
		font-size: 46px;
	}
}

/*----------------
 	LEADING FON END
----------------*/





/*----------------
 	BUTTON
----------------*/
.buttons {
	isolation: isolate;
  }
.draw {
	width: 200px;
  background: none;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1.5em 2em;

  box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  position: relative;
  vertical-align: middle;}

  .draw::before,
  .draw::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
	height: 100%;
	  border-radius: 10px;
  }
}

.draw {
  transition: color 0.35s;
  border-radius: 10px;}

  .draw::before,
  .draw::after {
	border: 2px solid transparent;
	border-radius: 10px;
    width: 0;
    height: 0;
  }

  .draw::before {
    top: 0;
	left: 0;
	border-radius: 10px;
  }

  .draw::after {
    bottom: 0;
	right: 0;
	border-radius: 10px;
  }

  .draw:hover {
	opacity: 1;
	color: #2196F3;
	border-radius: 10px;
  }

  .draw:hover::before,
  .draw:hover::after {
    width: 100%;
	height: 100%;
	border-radius: 10px;
  }

  .draw:hover::before {
    border-top-color: #2196F3;
    border-right-color: #2196F3;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; 
	border-radius: 10px;
  }

  .draw:hover::after {
    border-bottom-color: #2196F3; 
    border-left-color: #2196F3;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
	  height 0.25s ease-out 0.75s; 
	  border-radius: 10px;
  }
  .draw::after {
    top: 0;
	left: 0;
	border-radius: 10px;
  }
  .draw:hover::before {
    border-top-color: #2196F3;
	border-right-color: #2196F3;
	border-radius: 10px;
  }

  .draw:hover::after {
    border-bottom-color: #2196F3;
    border-left-color: #2196F3;
	transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
	border-radius: 10px;
  }
}









@media (max-width: 880px){
	.draw{
	width: 100px;
	height: 100%;

}
@media (max-width: 850px){
	.draw{
		width: 40%;
		height: 100%;  
		padding: 2em 1em;
		}
}
	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}
}
@media (max-width: 750px){
	.draw{
	width: 50%;
	height: 100%;
	}
}
@media (max-width: 600px){
	.video-fon{
		top:-6px;
		height: 102%;
	}
	.hero h1{
		margin-top: 90px;
	}
	.draw{
		width: 300px;
		height: 100%;
		color: #2196F3;
		border: solid 3px #2196F3;
		box-shadow: inset 0 0 0 2px #2196F3;
	}
}
@media (max-width: 350px){
	.draw{
		padding: 1em 0;
		width: 200px;
}}





/*--------------------
 	Caruseklla
---------------------*/

.carousel{
	display: none;
	max-width:580px;
	margin:auto;
}
@media (max-width: 630px){
	.carousel{
		display: block;
		max-width:580px;
		margin:auto;
	}
}
/*--------------------
 	Caruseklla end
---------------------*/



/*--------------------
 	ADVANTAGES
---------------------*/
.advantages__item{
	display: flex;
	flex-direction: space-between;
	width: 100%;
	padding: 20px;
	margin-top: 30px;
}
.advantages__item p{
	font: bold 'Open Sans', sans-serif;
	margin-top: 10px;
	text-align: left;
	font-size: 16px;
	width: 50%;
}
.lazer, 
.lazer-back,
.lazer-round{
	height: 350px;
	width: 50%;
	border-radius: 5px;
	display: inline-block;
	background-clip: content-box;
	background-position: center;
}
.lazer-back,
.lazer-round{
	height: 250px;
	width: 50%;
}

@media (max-width: 750px){
	.advantages__item{
		display: flex;
		justify-content:space-between;
		width: 100%;
		padding: 00px;
		margin-top: 30px;
	}

	.advantages__item p{
		font: bold 'Open Sans', sans-serif;
		margin-top: 0px;
		text-align: left;
		font-size: 14.5px;
		font-weight: 500;
		width: 100%;
	}
	.lazer, 
	.lazer-back,
	.lazer-round{
		flex-basis: 100%;
		width: 0%;
	}
}
@media (max-width: 650px){
	.advantages__item{
		display: flex;
		flex-direction: column;

	}
	.advantages__item p{
		font: bold 'Open Sans', sans-serif;
		margin-top: 0px;
		text-align: left;
		font-size: 18.5px;
		font-weight: 500;
	}
	.lazer, 
	.lazer-back,
	.lazer-round{
		display: none;
	}
}
/*--------------------
 	haracteristics
---------------------*/
.haracteristics{
	background-position-x: center;
    background-position-y: center;
	overflow: hidden;
	margin-bottom: 50px;
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(img/hero.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}
#haracteristics__title{
	color:white;
	opacity: 0.85;
	margin-bottom: 50px;
	margin-top: 20px;
}
	.haracteristics__table {
		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 14px;
		border-collapse: collapse;
		text-align: center;
		margin-bottom: 10px;
		}
		.haracteristics th, td {
		border-style: solid;
		border-width: 0 1px 1px 0;
		border-color:  #333;
		opacity: 0.85;
		color: white;
		width: 400px;
		padding: 20px 0;
		}
		.haracteristics__tr td {
		background: #333;
		opacity: 0.85;
		}
		#haracteristics{
			position: absolute;
			content: '';
			top: 2230px;
		}
}
/*--------------------
OTHERS
---------------------*/
.og-details p {
    text-align: left;
}
#title_work-for{
	margin-top: 30px;
}
.main{
	margin-top: -40px;
}
#delivery{
	padding: 0px 0px;
}
#about-company{
    	position: absolute;
	content: '';
	top: 3650px;
}
@media (max-width: 990px){

#about-company{
	position: absolute;
	content: '';
	top: 3900px;
}
}





/*---------------------
 	Contact Section
---------------------*/
.contact{
	margin-top: 100px;
	padding: 0 0;
	display: block;
	overflow: hidden;
    background-image: url(https://www.elegantthemes.com/preview/Divi/wp-content/uploads/2018/01/section-background.jpg)!important;
}
.container {

	float: right;
	width: 50%;
	height: 700px;
	padding: 20px 50px; 
	background-color: #3644AF;
	box-shadow: 0 0 2px rgb(0, 0, 0);
}
#container-title{
	margin-bottom: 70px;
	color:#ffffff;
	font-weight: 450;
}
.field-block .field {
	font-size: 20px;
	padding: 8px 12px;
	line-height: 1.5;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: rgba(255,255,255,0.9);
}
.first_row{
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
h2, .field-block {
	margin-bottom: 20px;
}
.field {
	display: block;
}
#name, #phone{
	display: inline-block;
}
#phone{
	width: 70%;
}
#name{
	margin-right: 50px;
}
#email{
	width: 100%;
	height: 50px;
}
#message{
	width: 100%;
}




.field-block .field:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}



.check-text {
	font-size: 16px;
	vertical-align: top;
}
.container_text{
	width: 40%;
	float: left;
	margin-left: 8%;
	margin-top:80px;

}
.container_text h1{
	font-size: 40px;
	font-weight: 600;
	color: rgb(51,51,51);
	margin-bottom: -10px;
	text-align: left;
}
.container_text p{
	font-size: 20px;
	text-align: left;
}


@media (max-width: 1460px){
	.container_text{
		margin-left: 4%;
	}
}
@media (max-width: 1340px){
	.container_text{
		margin-left: 0%;
		margin-top:80px;
	
	}

}
@media (max-width: 980px){
.field{
	width: 100%;
}
#phone{
	width: 100%;
}
}
@media (max-width: 800px){

	.container_text, .container{
		width: 100%;
	}
	.container_text h1,.container_text p{
text-align: center;
	}
}
@media (max-width: 500px){
	.contact{
		background-image: none;
	}
}
.button {
	border-radius: 10px;
	background-color: #5d5be0;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 20px;
	margin: 4px 2px;
	opacity: 0.8;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
  }
  
  .button:hover {opacity: 1}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}




/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}