.item_container{
    position: relative;
    box-sizing: inherit !important;
    overflow: hidden;
    width: 139px;
    height: 139px;
    margin: 4px;
    transition: all 0.4s;
}
@media screen and (max-width: 1035px) {
    .item_container{
        width: 130px;
        height: 130px;
    }
}
.item_container:hover{
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.4);
}
.item_grad{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2),rgba(0,0,0,.8));
    z-index: 100;
}
.album_bottom{
    z-index: 101;
}
.item{
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s
}
.item_container:hover .item{
    transform: scale(1.5); -webkit-transform: scale(1.5);
}
.bloked{
    filter:blur(3px);
    box-shadow: none !important;
}
.item_contant{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    top: 27%;
    width: 100%;
}
.item_p{
    margin-top: 5px;
    cursor: pointer;
    top: 80px;
    width: 100%;
    z-index: 149;
    font-size: 10px;
    text-align: center;
}
.item_contant_svg_block{
    width: 100%;
    text-align: center;
    top: 40px;
}
.item_svg{
    opacity: 0.8;
    z-index: 149;
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width: 648px) {
.item_container{
    flex-basis: 31%;
    height: auto;
    padding-bottom: 31%;
}
    .item{
    position: absolute;
}
}

@media screen and (max-width: 483px) {
    .item_container{
        margin: 3px;
        flex-basis: 31.5%;
        padding-bottom:  31.5%;
    }
    .item_p{
        font-size: 8px;
    }
}
@media screen and (max-width: 405px) {
    .item_contant{
        top: 32%;
    }
    .item_container{
        margin: 3px;
        flex-basis: 31%;
        padding-bottom:  31%;
    }
    .item_p{
        font-size: 6px;
    }
    .item_svg{
        width: 25px;
    }
}
@media screen and (max-width: 333px) {
    .item_container{
        flex-basis: 30.5%;
        padding-bottom:  30.5%;
    }
}
.edit_block{
    padding: 5px;
    width: 93%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
}
.chekbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.chekbox+label {
    align-items: center;
    user-select: none;
}
.chekbox+label::before {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.42);
    position: relative;
    left: 5px;
    top: -1px;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.4s;
}
.chekbox:checked+label::before {
    transition: 0.4s;
    background-color: #ffffff;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000'%3E%3Cpath d='M100 27.7L85.3 13l-45 45.1-25.6-25.6L0 47.1l40.3 40.3' /%3E%3C/g%3E%3C/svg%3E");
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.chekbox:not(:disabled):active+label::before {
    background-color: #ffffff;
    border-color: #000000;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.chekbox:disabled+label::before {
    background-color: #e9ecef;
}
.category_svg{
    margin-right: 5px;
    height: 15px;
    fill: #b4aaaa;
}
.album_bottom{
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    top: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
}
.right_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photos_block, .videos_block{
    display: flex;
    align-items: center;
}
.photos_cout{
    margin-left: 4px;
}
.videos_block{
    margin-left: 10px;
}
@media screen and (max-width: 460px) {
    .right_block{
        display: none;
    }
    .album_bottom{
        position: absolute;
        left: 5px;
        top: calc(100% - 15px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .75rem;
    }
}

