@import "../../app/variables";

.landing__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin: auto 50px;
  min-height: 72.5vh;

  @media (max-width: 1110px) {
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: auto 26px;
  }
}

.landing__intro-content {
  width: 70%;
  @media (max-width: 1110px) {
    width: 100%;
  }
}

.landing__intro-title {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: map-get($font-weights, "Medium");
  margin-bottom: 1rem;
  line-height: 120%;
  letter-spacing: -0.56px;
  white-space: nowrap;

  @media (max-width: 1710px) {
    font-size: 56px;
  }

  @media (max-width: 1510px) {
    font-size: 50px;
  }

  @media (max-width: 1310px) {
    font-size: 44px;
  }

  @media (max-width: 1110px) {
    margin-top: 43px;
    font-size: 32px;
    white-space: wrap;
    span {
      white-space: nowrap;
    }
  }

  @media (max-width: 910px) {
    font-size: 32px;
  }
  @media (max-width: 370px) {
    font-size: 24px;
  }
}

.landing__intro-description {
  font-weight: map-get($font-weights, "Medium");
  color: #000;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #000;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.12px;
  @media (max-width: 1110px) {
    font-size: 16px;
  }
}

.landing__intro-images_main {
  width: 60%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.landing__intro-image__main{
  width: 600px !important;
  max-width: 600px !important;
  position: relative;
  left: -120px;
  top: 5vh;
}

.landing__intro-image--blur_main {
  top: 6vh;
  position: absolute;
  width: 75%;
  left: 25%;
  height: auto;
  filter: blur(8px);
  z-index: -1;
}
@media (max-width: 1110px) {
  .landing__intro-image__main{
    width: 100%;
    max-width: 100%;
    position: relative;
    left: 50%;
    top: -5vh;
  }

  .landing__intro-image--blur_main {
    top: -5vh;
    position: absolute;
    width: 55%;
    left: 110%;
    height: auto;
    filter: blur(8px);
    z-index: -1;
  }
}
@media (max-width: 900px) {
  .landing__intro-images_main {
    width: 80%;
  }
  .landing__intro-image__main{
    width: 700px !important;
    max-width: 700px !important;
    position: relative;
    left: 20%;
    top: -1vh;
  }

  .landing__intro-image--blur_main {
    top: -5vh;
    position: absolute;
    width: 55%;
    left: 75%;
    height: auto;
    filter: blur(8px);
    z-index: -1;
  }
}
@media (max-width: 680px) {
  .landing__intro-images_main {
    width: 100%;
  }
  .landing__intro-image__main{
    width: 700px !important;
    max-width: 700px !important;
    position: relative;
    left: -10%;
    top: -1vh;
  }

  .landing__intro-image--blur_main {
    top: -3vh;
    position: absolute;
    width: 55%;
    left: 45%;
    height: auto;
    filter: blur(8px);
    z-index: -1;
  }
}
@media (max-width: 380px) {
  .landing__intro-image__main{
    width: 700px !important;
    max-width: 700px !important;
    position: relative;
    left: -20%;
    top: -10px;
  }

  .landing__intro-image--blur_main {
    top: -20px;
    position: absolute;
    width: 55%;
    left: 35%;
    height: auto;
    filter: blur(8px);
    z-index: -1;
  }
}