.faq {
    width: 100%;
    height: 100vh;
    background: url('../img/faqs.png') no-repeat;
    background-size: contain;
    background-position: center center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    margin-top: auto;
    margin-left: auto;
    -ms-overflow-style: none;
}
.faq-block {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.faq-block__title {

}
.faq-bg-duck{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
}
.faq-bg-duck .faq-bg-duck-container{
    position: relative;
    height: 100%;
}
.faq-bg-duck .faq-bg-duck-container img{
    position: absolute;
    bottom: 0;
    height: 91%;
    left: 50%;
    transform: translateX(-50%);
}
.faq-full details {
    position: relative;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    transition: 2s;
    transition: height 1s ease;
    overflow: hidden;
}
.faq-full details summary{
    font-size: 64px;
    font-family: 'SequelSans-MediumHead';
    font-weight: normal;
    color: #FFFFFF;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #FFFFFF;
    text-transform: capitalize;
    cursor: pointer;
    width: 80%;
    text-align: left;
    transition: 2s;
    border-bottom-color: #FFFFFF !important;
}

details:not([open])
{
    height: 7.25em;
    opacity: 1;

}
details:not([open] summary ~ *)
{
    /* opacity: 1; */
    /* height: 7.25em; */
}

details[open] summary ~ *
{
    /* opacity: 0; */
}
details[open]
{
    height: 12.50em;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
  
@keyframes sweep {
    0%    {opacity: 0; transform: translateX(-10px)}
    100%  {opacity: 1; transform: translateX(0)}
}


.faq-full summary:before{
    content: '+';
    position: absolute;
    top: 30%;
    right: 0;
    color: #fff;
    transform: translateY(-25%);
    font-size: 45px;
}

.faq-details-bottom {
    position: relative;
    text-align: left;
    padding-bottom: 20px;
    font-size: 24px;
    font-family: 'SequelSans-MediumHead';
    font-weight: normal;
    color: #FFFFFF;
    width: 70%;
}

/* details[open] {
    animation: slide .3s linear;
} */
details {
    /* max-width: 500px; */
    /* box-sizing: border-box; */
    /* margin-top: 5px; */
    /* background: white; */
}
details summary::-webkit-details-marker {
    display:none;
}
/* details[open] > summary:before {
    transform: rotate(90deg);
} */

summary {
    outline: none;
}
@keyframes slide {
    0%    { opacity: 0; transform:  translate(0, -10px); }
    100%  { opacity: 1; transform:  translate(0, 0); }
}

@media only screen and (max-width: 1510px) {
    .faq-full details summary{
        font-size: 56px;
    }
}

@media only screen and (max-width: 1331px) {
    .faq-full details summary{
        font-size: 42px;
    }
}

@media only screen and (max-width: 1034px) {
    .faq-full details summary{
        font-size: 32px;
    }
    .faq-details-bottom {
        font-size: 20px;
    }
}

@media only screen and (max-width: 780px) {
    .faq-full details summary{
        font-size: 26px;
    }
    .faq-details-bottom {
        font-size: 16px;
    }
    .faq-full summary:before{
        top: 0%;
        /* right: 0;
        color: #fff;
        transform: translateY(-25%); */
        font-size: 39px;
    }
    details:not([open])
    {
        height: 4.25em;
    }

    details[open]
    {
        height: 7.50em;
    }
}

@media only screen and (max-width: 414px) {
    .faq-full details summary{
        font-size: 18px;
    }
    .faq-details-bottom {
        font-size: 12px;
    }
}

@media only screen and (max-width: 390px) {
    .faq-full details summary{
        font-size: 16px;
    }
    .faq-details-bottom {
        font-size: 12px;
    }
    .faq-full summary:before{
        /* top: 0%; */
        /* right: 0;
        color: #fff;
        transform: translateY(-25%); */
        font-size: 35px;
    }
}