.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #00bbc7;
  z-index: 1001;
  width: 100%;
  height: 100%;
  text-align: center;
}

.preloader__image {
  position: relative;
  top: 50%;
  /* left: 50%; */
  width: 135px;
  height: auto;
  /* height: 170px; */
  /* margin-top: -35px;
    margin-left: -35px; */
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
