.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: #21242A;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #21242A;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #21242A;
}
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}
.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 500ms;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms;
}
.AppContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppHeader {
  height: 105px; /* Заданная высота Header */
}

.AppContent {
  flex: 1;
  min-height: calc(100vh - 102px - 122px); /* Высота экрана минус Header и Footer */
  overflow: auto;
}

.AppFooter {
  height: 122px; /* Заданная высота Footer */
}
.slide-enter {
  transform: translateX(-100%);
}
.slide-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}
.slide-exit {
  transform: translateX(0%);
}
.slide-exit-active {
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}