.Wecan{
    background: black;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    position: relative;
}
.Wecan_container{
    width: 100%;
}
.desc{
    width: 100%;
}
.mob{
    display: none;
    width: 100%;
}
@media (max-width: 740px) {
    .desc{
        display: none;
    }
    .mob{
        display: block;
    }

}
